.bg-yellow {
    background-color: #FFEA00;
}
.bg-cyan{
    background-color: 	#98FB98	;
}
.bg-dark{
    background-color: #353935;
}
.bg-primarycolor{
    background-color:#0909FF;
}
.bg-orange{
    background-color:#ffb347;
}